/* Sidebar Styling */
.sidebar {
    width: 200px;  /* Reduce from 300px */
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    background-color: #2C3E50;
    color: white;
    padding: 20px;
  }

  .sidebar a {
    text-decoration: none;
    color: white;
    display: block;
    padding: 10px;
    transition: 0.3s;
}
.sidebar a:hover {
  background-color: #34495E;
}
  
  .sidebar h2 {
    margin: 0 0 20px;
    font-size: 22px;
  }
  
  .sidebar nav ul {
    list-style-type: none;
    padding: 0;
  }
  
  .sidebar nav ul li {
    margin: 15px 0;
  }
  
  .sidebar nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
  }
  
  .sidebar nav ul li a:hover {
    text-decoration: underline;
  }
  
  /* Content Styling */
  .container {
    display: flex;
  }
  
  .content {
    margin-left: 260px;
    padding: 20px;
    width: calc(100% - 260px);
  }
  
  h1 {
    font-size: 24px;
    color: #333;
  }
  
  p {
    font-size: 16px;
    color: #666;
  }
  
  .skill-graph-container {
    margin-left: 220px;  /* Adjust according to sidebar width */
    width: calc(100% - 220px);  /* Take remaining screen space */
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cy-container {
  width: 80%;
  height: 80vh;
  border: 1px solid #ccc;
  background-color: #f9f9f9;
}


